<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-3">
      <h1>Lorem, ipsum.</h1>
    </div>
    <div class="col-12 d-flex justify-content-center mt-3">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi laudantium expedita ipsum sint non veniam,
        assumenda voluptatum numquam laboriosam, reprehenderit, asperiores rerum facere? Assumenda, reiciendis. Suscipit
        tenetur doloribus laudantium adipisci distinctio itaque optio sunt. Recusandae ipsum ullam quia voluptates eaque
        harum illo? Ad laboriosam necessitatibus praesentium in dolorem officia, possimus animi optio dolores
        consequuntur, est maiores. Libero vel iste molestiae in eos eum similique minus quia quaerat magnam rerum cumque
        sapiente enim harum modi magni laboriosam, qui dolores! Eos quasi est esse? Rem sed quae, mollitia adipisci modi
        autem eligendi a officiis ex quibusdam sit tenetur odit earum expedita id, ipsam esse placeat deserunt minus,
        aperiam praesentium veniam sequi? Officiis molestiae dolores officia deleniti minus magnam repellendus aliquam,
        nesciunt blanditiis.</p>
    </div>
  </div>
</div>